# Environment files
.env*  # Ignores any environment files 

# Virtual environment folders
.venv/
synthcity_env/

# Build/test artifacts
__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/  # Ignores pytest cache

# IDE/code editor specific files
# (Adjust or remove based on your editor)
.idea/
.vscode/
*.sublime-project
*.sublime-workspace


# System specific temporary files
*.pyc  # Compiled Python bytecode files

# Logs
*.log
